Silvercare_backend/Silvercarebackend/src/main/java/** linguist-detectable=true
Silvercare_backend/Silvercarebackend/src/main/java/** linguist-language=Java


*.vue linguist-language=Vue
*.js linguist-language=JavaScript
*.html linguist-language=HTML


*.cmd text eol=crlf
*.sh text eol=lf
*.java text eol=lf
