/mvnw text eol=lf
*.cmd text eol=crlf
*.java linguist-language=Java
*.vue linguist-language=Vue
*.js linguist-language=JavaScript
*.html linguist-language=HTML

Silvercare_backend/Silvercarebackend/src/main/java/* linguist-language=Java
